.section, .line, .footer-line, footer ul {
  margin: 0 auto; }

body, .contact ul, .contact ul li {
  text-align: center; }

.line, .footer-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

/* Base Styles -------------------- */
* {
  box-sizing: border-box; }

body {
  padding: 0;
  color: #444;
  background: #ddd;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

a {
  color: #444;
  text-decoration: none; }
  a:hover {
    color: #36acd0; }

.nav li:hover {
  background: #fff; }

h2 {
  font-size: 1.9em; }

li {
  list-style-type: none; }

.bio .profile-image {
  width: 60%;
  max-width: 300px;
  border-radius: 5px;
  margin-top: 30px; }
  @media (min-width: 768px) {
    .bio .profile-image {
      float: right;
      width: 40%;
      max-width: 400px;
      padding: 10px;
      border-radius: 0;
      margin-top: 0px; } }

.portfolio-image {
  max-width: 1400px;
  width: 100%;
  padding: 0 10px; }

/* ******************* Mobile icon ******************** */
.icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  background: #f2f2f2; }
  @media (min-width: 768px) {
    .icon {
      display: none; } }
  .icon .hamburger {
    transition: all 0.75s cubic-bezier(1, -0.3, 0.35, 1.335);
    position: absolute;
    top: -14px;
    left: 10px;
    width: 30px;
    height: 2px;
    background-color: #444; }
  .icon .line-top {
    transform: translateY(30px); }
  .icon .line-mid {
    transform: translateY(40px) scaleX(1); }
  .icon .line-bottom {
    transform: translateY(50px); }
  .icon .line-top-anim {
    transform: translateY(40px) rotate(45deg); }
  .icon .line-mid-anim {
    transform: translateY(40px) scale(0); }
  .icon .line-bottom-anim {
    transform: translateY(40px) rotate(-45deg); }

/* ******************* Navigation look ******************** */
.nav {
  display: none;
  padding: 0;
  font-weight: 700; }
  @media (min-width: 768px) {
    .nav {
      display: block;
      font-weight: 300; } }
  @media (min-width: 1024px) {
    .nav {
      width: 500px;
      float: right;
      padding: 0; } }
  .nav li {
    margin: 3px 2%;
    background-color: #f2f2f2;
    text-transform: uppercase;
    font-size: 1.3em; }
    @media (min-width: 768px) {
      .nav li {
        display: inline-block;
        margin: 3px 2%;
        background-color: #ddd;
        font-size: 1.3em; }
        .nav li:hover {
          background: #ddd; } }
  .nav a {
    display: block;
    padding: 10px; }

/* ******************** Navigation Set-up ******************** */
header {
  max-width: 600px;
  text-align: center;
  font-size: .8em; }
  @media (min-width: 1024px) {
    header {
      max-width: 1000px; } }
  header h1 {
    margin: 1em; }
    @media (min-width: 1024px) {
      header h1 {
        padding: 0;
        float: left;
        margin: .5em 2em; } }

/**********************
Bio Set-up
**********************/
.bio {
  max-width: 600px; }
  @media (min-width: 768px) {
    .bio {
      overflow: hidden;
      max-width: 1000px;
      padding: 10px;
      margin-top: 30px; } }
  .bio p {
    padding: 30px 20px; }
    @media (min-width: 768px) {
      .bio p {
        text-align: left;
        padding: 10px;
        width: 50%;
        float: left;
        margin-top: 0; } }

/**********************
Portfolio Set-up and Skills
**********************/
.portfolio,
.skills {
  margin-top: 40px;
  max-width: 600px; }
  @media (min-width: 768px) {
    .portfolio,
    .skills {
      max-width: 1000px;
      overflow: hidden; } }
  .portfolio .container,
  .skills .container {
    margin: 30px 0; }
    @media (min-width: 768px) {
      .portfolio .container,
      .skills .container {
        width: 50%;
        float: left; } }
    @media (min-width: 768px) {
      .portfolio .container p,
      .skills .container p {
        margin: 0 auto;
        padding: 20px; } }

.skills .portfolio-label {
  font-size: 1.2em;
  font-weight: 400; }
.skills .portfolio-text {
  font-weight: 100;
  padding: 10px 40px; }
  @media (min-width: 768px) {
    .skills .portfolio-text {
      height: 170px; } }
@media (min-width: 768px) {
  .skills {
    margin-top: 0; } }

@media (min-width: 1024px) {
  .main-group {
    overflow: hidden;
    margin: 0; } }

.line {
  width: 70%;
  height: 1px; }

/**********************
Contact Set-up
**********************/
.contact {
  margin-top: 10px; }
  @media (min-width: 768px) {
    .contact {
      max-width: 70%;
      margin: 0 auto; } }
  .contact p {
    padding: 10px 40px; }
  .contact ul {
    padding: 0; }
    .contact ul li {
      padding: 10px;
      font-size: 1.2em; }
  .contact .contact-link {
    padding-left: 20px;
    font-weight: 700;
    color: #444; }

/* ******************** Footer Set-up ******************** */
.footer-line {
  width: 100%;
  height: 1px; }

footer {
  max-width: 1000px;
  min-height: 70px;
  margin: 0 auto;
  padding: 5px 25px; }
  footer ul {
    display: flex;
    padding: 15px;
    justify-content: space-around;
    list-style-type: none; }
    footer ul li {
      display: flex;
      margin: 10px;
      padding: 0;
      font-weight: bold;
      flex-direction: column;
      justify-content: center; }

footer ul li:first-child {
  margin-right: auto; }

/*# sourceMappingURL=application.css.map */
