

@mixin accentLine($lHeight, $lWidth) {
  @extend   %marginAuto;
  @extend   %borderbottom;
  width   : $lWidth;
  height  : $lHeight;
}

// media query mixin
@mixin mQuery($break) {
  @if $break == mobile {
    @media (min-width: $break-narrow) {
       @content;
     }
  }  @else if $break == desktop {
    @media (min-width: $break-wide){
      @content
    }
  }
}

// animation mixin

@mixin translateAnim($timing, $easing) {
  transition : all $timing $easing;
}

// accent line



// @mixin tabletBreak {

// @media #{$break-narrow
