/**********************
Bio Set-up
**********************/

.bio {
	max-width: 600px;

	@include mQuery(mobile) {
		overflow: hidden;
		max-width: 1000px;
		padding: 10px;
		margin-top: 30px;
	}

	p {
		padding: 30px 20px;

		@include mQuery(mobile) {
			text-align: left;
			padding: 10px;
			width: 50%;
			float: left;
			margin-top: 0;
		}
	}
}
