/* ******************** Footer Set-up ******************** */



.footer-line {
  @include accentLine(1px, $footerLineWidth);
}

footer {
  max-width  : 1000px;
  min-height : 70px;
  margin     : 0 auto;
  padding    : 5px 25px;

  ul {
    @extend           %marginAuto;
    display         : flex;
    padding         : 15px;
    justify-content : space-around;
    list-style-type : none;

    li {
      display         : flex;
      margin          : 10px;
      padding         : 0;
      font-weight     : bold;
      flex-direction  : column;
      justify-content : center;
    }
  }
}

footer ul li:first-child {
  margin-right : auto;
}
