
/* ******************** Mobile icon ******************** */
.icon {
	background: black;
	height: 50px;
	width: 50px;
	position: absolute;
	right: 0px;
	top: 0px;
  @media #{$break-narrow} {
      display: none;
  }
}

.hamburger {
  background-color: #fff;
  height: 2px;
  left: 10px;
	top: -14px;
  position: absolute;
  transition: all 0.75s cubic-bezier(1, -0.3, 0.35, 1.335);
  width: 30px;
}

.line1{
  transform: translateY(30px);
}
.line2{
  transform: translateY(40px) scaleX(1);
}
.line3{
  transform: translateY(50px);
}

// .hb1{
//   transform: translateY(40px) rotate(45deg) scaleX(0.8);
// }
// #nav-toggle:checked + #nav-toggle-button .hb2{
//   transform: translateY(40px) scaleX(0);
// }
// #nav-toggle:checked + #nav-toggle-button .hb3{
//   transform: translateY(40px) rotate(-45deg) scaleX(0.8);
// }



/* ******************** Navigation ******************** */

.nav {
  display: none;
  padding     : 0;
  font-weight : 700;

  @media #{$break-narrow} {
      font-weight: 300;
      display: block;
  }

  @media #{$break-wide} {
    padding: 0;
    width: 500px;
    float: right;
  }


  li {
    margin           : 3px 2%;
    background-color : #eee;
    text-transform   : uppercase;
    font-size        : 1.3em;

    @media #{$break-narrow} {
      font-size: 1.3em;
      background-color: #ddd;
      margin: 3px 2%;
      display: inline-block;

      &:hover {
      	background: #ddd;
      }
    }


  }

  a {
    display : block;
    padding : 10px;
  }
}
