/**********************
Portfolio Set-up and Skills
**********************/
.portfolio,
.skills {
	margin-top: 40px;
	max-width: 600px;
	@media #{$break-narrow} {
		max-width: 1000px;
		overflow: hidden;
	}

	.container {
		margin: 30px 0;

		@media #{$break-narrow} {
			width: 50%;
			float: left;
		}

		p {
			@media #{$break-narrow} {
				margin: 0 auto;
				padding: 20px;
			}
		}


	}
}

.skills {
	.portfolio-label {
		font-size: $portfolioFontSize;
		font-weight: 400;
	}

	.portfolio-text {
		font-weight: 100;
		padding: 10px 40px;
		@media #{$break-narrow} {
			height: 170px;
		}
	}
	@media #{$break-narrow} {
		margin-top: 0;
	}
}

.main-group {

	@media #{$break-wide} {
		overflow: hidden;
		margin: 0;
	}

}

.line {
	@include accentLine(1px, $lineWidth);
}
