// Site color variables

$background    : #ddd;
$white         : #fff;
$mainFontColor : #444;
$blue          : #36acd0;

$lineColor     : rgba(0,0,0,.2);
$lineWidth     : 100%;

$fonts         : 'Open Sans', sans-serif;
